/* Paleta de colores
   #00183a azul oscuro (encabezado)
   #042452 azul (menos) oscuro
   #60a2d2 celeste
   #8dc563 verde manzana
   #1cb0ae verde azulado
   #275978 petroleo
   #0CC0DF crea tu cumple */

/* Font/tipografía: font-family: 'Noto Serif', serif; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

/*roboto*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo global del body */
body {
  font-family: "Noto Serif", serif;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Mínimo 100% del alto de la ventana de visualización */
  justify-content: space-between; /* Empuja el contenido hacia arriba y hacia abajo */
}

/* Header común a todas las páginas */
.header-paginas {
  background-color: #00183a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

/* Header específico para la página de inicio */
.header-inicio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 45px;
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 1000;
}

/* Estilo del logo dentro del header */
header img {
  width: 250px;
  margin-left: 10px;
}

/* Estilo del nav */
nav {
  margin-right: 40px; /* Margen a la derecha para las páginas que no son de inicio */
}

/* Estilo de la lista del header */
header ul {
  list-style: none;
  display: flex;
}

/* Estilo de los elementos de la lista del header */
header li {
  margin-right: 10px;
  margin-left: 15px;
}

/* Estilo de los enlaces del header */
header a {
  color: white;
  text-decoration: none;
}

/* Estilo del main */
.main-paginas {
  background-color: #042452;
  margin-top: 110px;
  padding: 20px;
  flex-grow: 1;
}

/* Estilo específico para el elemento <p> dentro de .contenido-container en la página de inicio */
.contenido-container p {
  font-size: 25px;
  text-align: center;
}

.contenido-container h1 {
  font-size: 50px;
  text-align: center;
}

/* Fondo de la imagen aplicado al body */
body.pagina-inicio {
  background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)),
    url("../images/fondo-index.jpeg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; /* Para que la imagen de fondo se mantenga fija al desplazarse */
}

/* Contenedor para el contenido y el fondo */
.contenido-container {
  z-index: 1;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilo de la imagen dentro de .contenido-container */
.contenido-container img {
  max-width: 100%;
  height: auto;
  width: 200px;
}

/* Estilo de los párrafos en general */
p {
  color: white;
}

/* Estilo del footer pagina inicio*/

.footer-inicio {
  padding: 10px;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Estilo de las imágenes dentro del footer */
footer img {
  width: 35px;
  margin-right: 8px;
}

/* Estilo de la sección de redes sociales dentro del footer */
.box-redes {
  text-align: center;
  font-size: smaller;
}

/* Estilo de las tres imágenes en el footer */
.tresimagenes {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 0px;
}

/* Estilo del footer de las demás paginas */
.footer-paginas {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #00183a;
  color: white;
  padding: 10px;
  text-align: left;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Estilo del texto dentro del footer */
.footer-paginas p {
  margin: 0;
  text-align: left;
  margin-bottom: 10px;
}

/* Estilo de las imágenes dentro del footer */
.footer-paginas img {
  width: 40px;
  margin-right: 10px;
  margin-bottom: 5px;
}

/* Estilo del contenedor de las imágenes */
.footer-paginas .redes {
  display: flex;
  flex-direction: row;
  align-items: left;
}

/*PAGINA PELOTERO*/
/* Estilo de la sección de las imágenes */
.planetatierra {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  grid-template-rows: 420px 250px 250px;
  grid-gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
}

.estacionlunar {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: 430px 300px 300px 300px;
  grid-gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
}

/* Estilo de la caja de cada imagen  ;*/
.box {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo de las imágenes dentro de las cajas */
.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-paginas h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
}

.main-paginas p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
}
/* PAGINA COMIDA */


.menuinfantil h2,
.menuadultos h2 {
  margin-bottom: 40px;
}

.menuinfantil p,
.menuadultos p {
  margin-top: 20px;
}

.main-paginas .pagina-menu {
  display: flex;
  justify-content: space-around;
}

.infantil-adultos {
  display: flex;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.menu-section {
  flex: 1;
  margin: 20px;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  color: white;
}

.menuinfantil,
.menuadultos {
  flex: 1;
  width: 100%;
  padding: 10px;
  justify-content: center;
  display: grid; /* línea para que ambos menús utilicen el formato de cuadrícula */
  gap: 10px;
}

.menuinfantil {
  grid-template-columns: repeat(6, 1fr);
}

.comida1,
.comida2 {
  grid-column: span 3;
}

.comida3,
.comida6,
.comida7 {
  grid-column: span 2;
}

.menuadultos {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px;
}

/* Estilo específico para el placeholder en los campos de entrada y textarea */
::placeholder {
  font-family: "Noto Serif", serif;
  font-style: italic;
  color: #999;
}

/*PAGINA RESERVA*/

.main-paginas h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

/* Estilo del formulario */
.formulario {
  display: block;
}

/* Estilos generales del formulario */
form {
  max-width: 600px;
  margin: 0 auto;
}

/* Estilo de las etiquetas del formulario */
form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

/* Estilo de los campos de entrada del formulario */
form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilo del botón de envío del formulario */
form button {
  background-color: #00183a;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilo del botón al pasar el mouse sobre él */
form button:hover {
  background-color: #042452;
}

/* Estilo específico para el placeholder en los campos de entrada y textarea */
::placeholder {
  font-family: "Noto Serif", serif;
  font-style: italic;
  color: #999;
}

#cumpleanos {
  margin-bottom: 20px;
}

#estacion {
  margin-bottom: 20px;
}

/* PAGINA UBICACION */
.main-paginas .ubicacion h1,
.main-paginas .ubicacion p {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 30px; */
}

/* no puedo centrar el mapa */
.main-nosotros .ubicacion iframe {
  max-width: 100%;
  margin: 20px auto;
  justify-content: center;
  justify-self: center;
}

@media screen and (max-width: 500px) {
  .header-inicio nav {
    text-align: center; 
    width: 100%;
    margin: 0px 0px;
  }    
  
  .header-inicio ul {
    padding: 0;
    display: flex;
    justify-content: space-around; 
    margin-block-start: 5px;
    margin-block-end: 5px;
    padding-inline-start: 0px;
  }

  .header-inicio li {
    margin: 0 5px; 
  }
 
  .header-paginas {
    padding: 0;
    flex-direction: column; /* Cambiado a columna para apilar los elementos */
    align-items: center;
  }

  /* Estilo del logo en pantallas más pequeñas */
  header img {
    width: 200px;
    margin: 10px 0px; 
  }

  /* Estilo del nav en pantallas más pequeñas */
  nav {
    text-align: center;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center; 

  }

  .header-paginas ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items:center;
  }

  .header-paginas li, .header-inicio li {
    margin: 0px 10px 15px 10px;
  }

  .header-paginas a, .header-inicio a {
    font-size: 12px;
  }
  
  .header-paginas nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .main-paginas h1 {
    font-size: 25px;
  }

  .main-paginas p {
    font-size: 15px;
  }

  .footer-paginas p {
    font-size: 12px;
  }

  .footer-paginas a {
    font-size: 12px;
  }

  iframe {
    width: 350px;
    height: 450px;
  }

  .planetatierra,
  .estacionlunar {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px;
  }

  .estacionlunar {
    grid-template-rows: 300px 300px 300px 180px 180px 180px 180px;
    padding-top: 10px;
    padding-bottom: 10px;

  }

  .planetatierra{
    grid-template-rows: 320px 320px 220px 220px 220px;
    padding-bottom: 10px 0px;
  }

  .estacionlunar .box:nth-child(7),
  .estacionlunar .box:nth-child(8)  {
    display: none; /* Menos imagenes en pagina pelotero */
  }

  .planetatierra .box:nth-child(9),
  .planetatierra .box:nth-child(5),
  .planetatierra .box:nth-child(6),
  .planetatierra .box:nth-child(7),
  .planetatierra .box:nth-child(2) {
    display: none;
  }


  .infantil-adultos {
    display: block; /* Cambia a display:block cuando el ancho es 500px o menos */
    max-width: none;
    margin: 0px;
    padding: 0px;
  }

  .infantil-adultos h2 {
    font-size: 25px;
    margin: 5px;
    padding-top: 20px;
  }

  .infantil-adultos p {
    font-size: 14px;
    padding: 10px;
    margin: 0px;
  }

  .menu-section{
    padding: 0px;
    margin: 0px;
  }

  .menuinfantil .box:nth-child(2),
  .menuinfantil .box:nth-child(3),
  .menuinfantil .box:nth-child(5) {
    display: none;
  }

  .menuadultos .box:nth-child(3),
  .menuadultos .box:nth-child(4){
    display: none;
  }

  .menuinfantil, .menuadultos {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 320px 320px;
    padding: 0px;
    margin: 0px;
  }

}









